# Appwrite

NEXT_PUBLIC_APPWRITE_ENDPOINT="https://cloud.appwrite.io/v1"
NEXT_PUBLIC_APPWRITE_PROJECT_ID=""
APPWRITE_KEY_SECRET=""
ADMIN_EMAIL=""
IMAGES_DOMAIN_LIST="" # List of domains separated by comma from which images will be served, only in `http(s)://subdomain.domain.tld` format